{% extends "base.html" %}
{% block content %}
<img src="eduwork.png" />
<h1>Your Job Offers</h1>
<ul>
  {% for offer in products %}
    <li>{{ offer.job.title }} - Accepted: {{ offer.is_accept }}</li>
  {% empty %}
    <li>No offers available.</li>
  {% endfor %}
  <a href="{% url 'add_course' %}">Dodaj kursy</a>
  <a href="{% url 'add_cv' %}">Dodaj CV</a>
  <a href="{% url 'add_portfolio' %}">Dodaj portfolio</a>
  <a href="{% url 'add_business' %}">Dodaj firmę</a>
  <a href="{% url 'logout' %}">Wyloguj się</a>
  <a href="{% url 'login' %}">Zaloguj się</a>
  <a href="{% url 'signup' %}">Zarejestruj się</a>
  <a href="{% url 'cv_to_user_view' %}">Moje CV</a>
  <a href="{% url 'my_cv_experience_view' %}">Moje doświadczenie</a>
  <a href="{% url 'portfolio_to_user_view' %}">Moje potfolio</a>
  <a href="{% url 'search_business' %}">Szukaj firmy</a>
  <a href="{% url 'search_portfolio' %}">Szukaj portfolio</a>
  <a href="{% url 'search_offers_job' %}">Szukaj ofert pracy</a>
  <a href="{% url 'search_course_view' %}">Szukaj kursów</a>
  <a href="{% url 'course_user' %}">Moje kursy</a>
  <a href="{% url 'offers_job_created_by_user' %}">Moje oferty pracy</a>
  <a href="{% url 'offers_job_user' %}">Zaproszenia od rekruterów</a>
  <a href="{% url 'answer_question_user' %}">Zapisane odpowiedzi na testach</a>
</ul>
{% endblock %}