{% extends "base.html" %}
{% block content %}
<a href="{% url 'add_course' %}">Dodaj kursy</a>
<a href="{% url 'add_cv' %}">Dodaj CV</a>
<a href="{% url 'add_portfolio' %}">Dodaj portfolio</a>
<a href="{% url 'add_business' %}">Dodaj firmę</a>
<a href="{% url 'offers_job_user' %}">Zaproszenia od rekruterów</a>
<a href="{% url 'answer_question_user' %}">Zapisane odpowiedzi na testach</a>
<a href="{% url 'add_transmition' %}">Zaplanuj transmisję</a>
<h1>Your Job Offers</h1>
<ul>
  {% for offer in products %}
    <li>{{ offer.offer.title }} - Accepted: {{ offer.is_accept }}</li>
  {% empty %}
    <li>No offers available.</li>
  {% endfor %}
</ul>
<h1>Your Transmitions</h1>
<ul>
  {% for t in transmitions %}
    <li>{{ t.title }}: {{ t.start }} - {{ t.end }}</li>
    <p>{{ t.description }}</p>

    {% if t.leaders == request.user %}
      <a href="{% url 'update_transmition' transmition_id=t.id %}">Edytuj transmisję</a>
      <a href="{% url 'delete_transmition' transmition_id=t.id %}">Usuń transmisję</a>
    {% endif %}

    {% if t.is_live %}
      <a href="{% url 'comments_transmition' transmition_id=t.id %}">Dołącz do transmisji</a>
    {% endif %}
  {% empty %}
    <li>No transmitions available.</li>
  {% endfor %}
</ul>
{% endblock %}