{% extends "base.html" %}
{% block content %}
<h1>Items</h1>
<ul>
  {% for item in products %}
    <li>{{ item }}</li>
    <a href="{% url 'subject_to_course_view' course_id=item.id %}">
        <button type="button">Szczegóły</button>
    </a>
    <a href="{% url 'update_course' course_id=item.id %}">
        <button type="button">Edytuj kurs</button>
    </a>
    <a href="{% url 'delete_course' course_id=item.id %}">
        <button type="button">Usuń kurs</button>
    </a>
  {% empty %}
    <li>No items found.</li>
  {% endfor %}
</ul>
{% endblock %}