{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Twoje CV</h2>

    {% if products %}
        <div class="row mt-4">
            {% for cv in products %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ cv.title }}</h5>
                            <h5 class="card-title">{{ cv.first_name }} {{cv.last_name}}</h5>
                            <h5 class="card-title">{{ cv.number_phone }}</h5>
                            <h5 class="card-title">{{ cv.email }}</h5>
                            <h5 class="card-title">{{ products.street }} {{ products.number_house }}</h5>
                            <h5 class="card-title">{{ products.code }} {{ products.city }}</h5>
                            <p class="card-text">{{ cv.summary|truncatechars:150 }}</p>
                            <a href="{% url 'update_cv' cv_id=cv.id %}" class="btn btn-outline-secondary btn-sm">Edytuj</a>
                        </div>
                    </div>
                </div>
                <a href="{% url 'update_cv' cv_id=cv.id %}">Edytuj CV</a>
                <a href="{% url 'my_cv_experience_view' %}">Moje doświadczenie</a>
                <a href="{% url 'my_cv_skills_view' %}">Moje umiejetności</a>
                <a href="{% url 'my_cv_hobby_view' %}">Moje hobby</a>
                <a href="{% url 'my_cv_education_view' %}">Moje wykształcenie</a>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info mt-4">
            Nie masz jeszcze żadnego CV.
        </div>
        <a href="{% url 'index' %}">Strona główna</a>
    {% endif %}
</div>
{% endblock %}