{% extends 'base.html' %}
{% block title %}Jak zacząć — Eduwork{% endblock %}
{% block content %}
<h1>Jak zacząć z Eduwork</h1>
<div style="max-width: 800px; margin: 20px auto; padding: 20px;">
    <p>Witaj w <strong>Eduwork</strong> — system wsparcia wyszukiwania pomysłów na treści.</p>
 
    <h2>Dla twórców treści</h2>
        <ol>
            <li>Pochwal się pomysłami na kreatywne bio, komentarze, posty, wiadomości itp.</li>
        </ol>

    <h2>Dla poszukiwaczy inspiracji</h2>
        <ol>
            <li>Nie masz pomysłu na nowe treści? Zainspiruj się tutaj</li>
        </ol>

</div>
{% endblock %}
