{% extends "base.html" %}

{% block content %}
<h1>Moje Biznesy</h1>
<div class="search-container">
<ul>
  {% for business in businesses %}
    <li>
      <h3>{{ business.name }}</h3>
      <a href="{% url 'search_offers_job' business_id=business.id %}">
          <button type="button">Moje oferty pracy</button>
      </a>
      <a href="{% url 'update_business' business_id=business.id %}">
          <button type="button">Edytuj</button>
      </a>
          <div class="hr-list">
            <strong>HR:</strong>
            {% for hr in business.hr_set.all %}
              <div>
                {{ hr.first_name }} {{ hr.last_name }}
                <a href="{% url 'update_hr' business_id=business.id hr_id=hr.id %}">
                  <button type="button">Edytuj HR</button>
                </a>
                <a href="{% url 'add_offer_jobs' business_id=business.id hr_id=hr.id %}">
                  <button type="button">Dodaj oferty pracy</button>
                </a>
              </div>
            {% empty %}
              <div>Brak HR. <a href="{% url 'add_hr' business_id=business.id %}"><button type="button">Dodaj HR</button></a></div>
            {% endfor %}
          </div>
        </li>
  {% empty %}
    <li>Brak biznesów. <a href="{% url 'add_business' %}">Stwórz nowy biznes</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}