{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Moje Linki w Portfolio</h2>

    {% if products %}
        <ul class="list-group mt-4">
            {% for link in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.url }}</a>
                    <h1>{{ link.title }}</h1>
                    <p>{{ link.description }}</p>
                    <small class="text-muted">Dodano: {{ link.created_at|date:"Y-m-d" }}</small>
                    <a href="{% url 'update_link2' portfolio_id=link.portfolio.id link_id=link.id %}">
          <button type="button">Aktualizuj link</button>
        </a>
                    <a href="{% url 'update_link' portfolio_id=link.portfolio.id link_id=link.id %}">
          <button type="button">Usuń link</button>
        </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info mt-4">
            Nie masz jeszcze żadnych linków w portfolio.
        </div>
    {% endif %}
    <p>Chcesz dodać link? Szukaj swoje poniżej</p>
    <a href="{% url 'search_portfolio' %}">Szukaj portfolio</a>
</div>
{% endblock %}