{% extends "base.html" %}
{% block content %}
<h1>{{ products.title }}</h1>
<div class="offer-details">
  <p><strong>Firma:</strong> {{ products.business.name }}</p>
  <p><strong>Kategoria:</strong> {{ products.category.name }}</p>
  
  {% if products.hr.user == request.user %}
      <a href="{% url 'update_business' business_id=products.business.id %}">
        <button type="button">Edytuj firmę</button>
      </a>
      <a href="{% url 'update_hr' business_id=products.business.id hr_id=products.hr.id %}">
        <button type="button">Edytuj HR</button>
      </a>
      <a href="{% url 'search_business' %}">
        <button type="button">Powrót do moich firm</button>
      </a>
  {% endif %}
</div>
{% endblock %}