{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Twoje portfolio</h2>

    {% if products %}
        <div class="row mt-4">
            {% for portfolio in products %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ portfolio.title }}</h5>
                            <p class="card-text">{{ portfolio.description|truncatechars:150 }}</p>
                            <a href="{% url 'my_portfolio_links_view' %}" class="btn btn-outline-secondary btn-sm">Moje linki</a>
                        </div>
                    </div>
                </div>
                <a href="{% url 'update_portfolio' portfolio_id=portfolio.id %}">Edytuj portfolio</a>
                <a href="{% url 'delete_portfolio' portfolio_id=portfolio.id %}">Usuń portfolio</a>
            {% endfor %}
            <a href="{% url 'add_portfolio' %}">Dodaj portfolio</a>
        </div>
    {% else %}
        <div class="alert alert-info mt-4">
            <a href="{% url 'add_portfolio' %}">Dodaj portfolio</a>
        </div>
    {% endif %}
</div>
{% endblock %}