{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Doświadczenie zawodowe</h2>

    {% if products %}
        <div class="list-group mt-4">
            {% for experience in products %}
                <div class="list-group-item list-group-item-action mb-3 shadow-sm">
                    <h5 class="mb-1">{{ experience.position }} - {{ experience.company }}</h5>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'cv_to_id_view' cv_id=products.cv.id %}">Wróć do CV</a>
    {% else %}
        <div class="alert alert-info mt-4">
            Brak doświadczenia
        </div>
    {% endif %}

</div>
{% endblock %}