{% extends "base.html" %}
{% block content %}
<h1>Questions</h1>
<ul>
  {% for item in products %}
    <li>{{ item.question }} - {{ item.correct }}</li>
    {% if item.test.subject.course.author == request.user %}
      <a href="{% url 'update_question' course_id=item.test.subject.course.id subject_id=item.test.subject.id test_id=item.test.id question_id=item.id %}"><button>Edytuj pytanie</button></a>
      <a href="{% url 'delete_question' course_id=item.test.subject.course.id subject_id=item.test.subject.id test_id=item.test.id question_id=item.id %}"><button>Usuń pytanie</button></a>
    {% endif %}
  {% empty %}
    <li>No questions found.</li>
  {% endfor %}
</ul>
{% endblock %}
