{% extends "base.html" %}
{% block content %}
<a href="{% url 'course_to_certificate_view' %}">
    <button type="button">Certyfikaty</button>
</a>
<a href="{% url 'test_score_to_user_view' %}">
    <button type="button">Wyniki testów</button>
</a>
<h1>Search Courses</h1>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h3>Categories</h3>
  <ul>
  <select>
    {% for cat in categories %}
		  <option>{{ cat.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Search</button>
</form>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h2>Tags</h2>
  <ul>
  <select>
    {% for tag in tags %}
		  <option>{{ tag.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Search</button>
</form>
<h2>Courses</h2>
<div class="search-container">
<ul>
  {% for course in courses %}
    <li>{{ course.title }}</li>
    <a href="{% url 'subject_to_course_view' course_id=course.id %}">
        <button type="button">Otwórz kurs</button>
    </a>
  {% endfor %}
</ul>
</div>

{% endblock %}