{% extends "base.html" %}
{% block content %}
<h1>Szukaj ofert pracy</h1>
<p>UWAGA! Aplikowanie do ofert pracy jest niemożliwe. Należy oczekiwać na zaproszenie od rektutera.</p>
<form method="get">
  <input type="text" name="q" placeholder="Search offers..." value="{{ query }}">
  <button type="submit">Szukaj</button>
  <ul>
  <h2>Kategoria</h2>
  <select>
    {% for cat in categories %}
      <option value="{{ cat.id }}">{{ cat.name }}</option>
    {% endfor %}
  </select>
<ul>
</form>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h2>Słowa kluczowe</h2>
  <ul>
  <select>
    {% for tag in tags %}
		  <option>{{ tag.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Szukaj</button>
</form>
<div class="search-container">
<ul>
  {% for offer in products %}
    <li>{{ offer.title }} - {{ offer.business }} - {{ offer.category }} - {{ offer.business.user.username }}</li>
    <a href="{% url 'read_offer_jobs_one' offer_id=offer.id business_id=offer.business.id %}">
        <button type="button">Szczegóły</button>
    </a>
  {% empty %}
    <li>No offers found.</li>
  {% endfor %}
</ul>
</div>
{% endblock %}