{% extends "base.html" %}
{% block content %}
<h1>Szukaj kursów</h1>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h3>Kategoria</h3>
  <ul>
  <select>
    {% for cat in categories %}
		  <option>{{ cat.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Szukaj</button>
</form>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h2>Słowa kluczowe</h2>
  <ul>
  <select>
    {% for tag in tags %}
		  <option>{{ tag.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Szukaj</button>
</form>
<h2>Kursy</h2>
<div class="search-container">
<ul>
  {% for course in courses %}
    <li>{{ course.title }} - {{ course.author.username }}</li>
    <a href="{% url 'subject_to_course_view' course_id=course.id %}">
        <button type="button">Otwórz kurs</button>
    </a>
  {% endfor %}
</ul>
</div>

{% endblock %}