{% extends "base.html" %}
{% block content %}
<h1>Search ideas</h1>
<form method="get">
  <h2>Keyworks</h2>

  <select name="tags">
    <option value="">-- choose tag --</option>
    {% for tag in tags %}
      <option value="{{ tag.id }}">{{ tag.name }}</option>
    {% endfor %}
  </select>

  <button type="submit">Search</button>
</form>
<h2>Ideas</h2>
<div class="search-container">
<ul>
  {% for item in portfolios %}
    <li>
      {{ item.description }}
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}