{% extends "base.html" %}
{% block content %}
<h1>Search Portfolios</h1>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h3>Categories</h3>
  <ul>
  <select>
    {% for cat in categories %}
		  <option>{{ cat.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Search</button>
</form>
<form method="get">
  <input type="text" name="q" placeholder="Search courses..." value="{{ query }}">
  <h2>Tags</h2>
  <ul>
  <select>
    {% for tag in tags %}
		  <option>{{ tag.name }}</option>
    {% endfor %}
	</select>
  </ul>
  <button type="submit">Search</button>
</form>
<h2>Portfolios</h2>
<div class="search-container">
<ul>
  {% for item in portfolios %}
    <li>
      {{ item.title }}
      {% if item.user == request.user %}
        <a href="{% url 'add_link' portfolio_id=item.id %}">
          <button type="button">Dodaj linki</button>
        </a>
      {% endif %}

      {% if item.user.cv %}
        <a href="{% url 'cv_to_id_view' cv_id=item.user.cv.id %}">
          <button type="button">CV</button>
        </a>
      {% else %}
        <span>Brak CV</span>
      {% endif %}
      <a href="{% url 'portfolio_links_view' portfolio_id=item.id %}">
        <button type="button">Links</button>
      </a>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}