{% extends "base.html" %}

{% block content %}
<h1>Subjects for "{{ course.title }}"</h1>
<ul>
  {% for item in products %}
    <li>
      <strong>{{ item.title }}</strong>
      <p>{{ item.description }}</p>

      {% if item.file %}
        <img src="{{ item.file.url }}" alt="{{ item.title }}" style="max-width: 300px;" />
      {% endif %}

      <a href="{% url 'subject_to_test_view' course_id=item.course.id subject_id=item.id %}">Test</a>

      {% if item.course.author == request.user %}
        <a href="{% url 'add_test' course_id=item.course.id subject_id=item.id %}">
          <button type="button">Dodaj test</button>
        </a>
        <a href="{% url 'update_subject' course_id=item.course.id subject_id=item.id %}">
          <button type="button">Edytuj temat</button>
        </a>
        <a href="{% url 'delete_subject' course_id=item.course.id subject_id=item.id %}">
          <button type="button">Usuń temat</button>
        </a>
      {% endif %}
    </li>
  {% empty %}
    <li>No items found.</li>
  {% endfor %}
</ul>
{% if request.user.is_authenticated %}
  <a href="{% url 'add_opinion' course_id=course.id %}">
    <button type="button">Dodaj opinię</button>
  </a>
{% else %}
  <p>
    <a href="{% url 'login' %}">Zaloguj się</a> aby dodać opinię.
  </p>
{% endif %}
<ul>
  {% for offer in opinion %}
    <li>{{ offer.author }}: {{ offer.description }}</li>

    {% if offer.author == request.user %}
      <a href="{% url 'update_opinion' course_id=offer.course.id opinion_id=offer.id %}">
        <button type="button">Edytuj</button>
      </a>

      <a href="{% url 'delete_opinion' course_id=offer.course.id opinion_id=offer.id %}">
        <button type="button">Usuń</button>
      </a>
    {% endif %}
  {% empty %}
    <li>No comments available.</li>
  {% endfor %}
</ul>
{% endblock %}