{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Moje testy</h2>

    {% if products %}
        <div class="row mt-4">
            {% for link in products %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ link.title }}</h5>
                        </div>
                    </div>
                </div>
                <a href="{% url 'update_test' test_id=link.id %}">Edytuj test</a>
                <a href="{% url 'delete_test' test_id=link.id %}">Usuń test</a>
                <a href="{% url 'question_read' test_id=link.id %}">Pytania</a>
            {% endfor %}
            <a href="{% url 'add_test' %}">Dodaj test</a>
        </div>
    {% else %}
        <div class="alert alert-info mt-4">
            <a href="{% url 'add_test' %}">Dodaj test</a>
        </div>
    {% endif %}
</div>
{% endblock %}