{% extends "base.html" %}
{% block content %}
<h1>Items</h1>
<ul>
  {% for item in products %}
    <li>{{ item }}</li>
    {% if item.subject.course.author == request.user %}
      <a href="{% url 'test_to_question_view' course_id=item.subject.course.id subject_id=item.subject.id test_id=item.id %}">Pytania</a>
      <a href="{% url 'update_test' course_id=item.subject.course.id subject_id=item.subject.id test_id=item.id %}">
          <button type="button">Edytuj test</button>
      </a>
      <a href="{% url 'delete_test' course_id=item.subject.course.id subject_id=iem.subject.id test_id=item.id %}">
          <button type="button">Usuń test</button>
      </a>
    {% else %}
      <a href="{% url 'test_to_question_view' course_id=item.subject.course.id subject_id=item.subject.id test_id=item.id %}">Wypełnij test</a>
    {% endif %}
  {% empty %}
    <li>No items found.</li>
  {% endfor %}
</ul>
{% endblock %}